In [1]:
import pandas as pd
import numpy as np

In [8]:
# ingest the d
data = pd.read_csv(r"C:\Users\linto\Downloads\Gemstone Price Prediction\cubic_zirconia.csv")
data.head(3)

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,1,0.30,Ideal,E,SI1,62.1,58.0,4.27,4.29,2.66,499
1,2,0.33,Premium,G,IF,60.8,58.0,4.42,4.46,2.70,984
2,3,0.90,Very Good,E,VVS2,62.2,60.0,6.04,6.12,3.78,6289

carat: Diamond weight in carats.<br>
cut: Diamond cutting quality.<br>
color: Diamond color ranging from J (worst) to D (best).<br>
clarity: Diamond clarity ranging from I1 (worst) to IF (best).<br>
x, y, z: Diamond dimensions in millimeters (length, width, depth).<br>
depth: Calculated percentage depth based on dimensions.<br>
table: Width of the diamond's widest point at the top.<br>
price: Target variable indicating the diamond's market price.<br>

In [9]:
# Last 3 rows
data.tail(3)

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
26964,26965,0.51,Premium,E,VS2,61.7,58.0,5.12,5.15,3.17,1656
26965,26966,0.27,Very Good,F,VVS2,61.8,56.0,4.19,4.20,2.60,682
26966,26967,1.25,Premium,J,SI1,62.0,58.0,6.90,6.88,4.27,5166

In [10]:
# 3 random samples
data.sample(3)

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
8565,8566,0.31,Very Good,F,SI1,62.9,57.0,4.31,4.34,2.72,516
14099,14100,0.73,Ideal,G,SI2,61.1,57.0,5.80,5.82,3.55,2376
9999,10000,0.73,Ideal,F,SI1,62.1,55.0,5.75,5.78,3.58,2822

In [11]:
# checking missing values
data.isnull().sum()

Unnamed: 0      0
carat           0
cut             0
color           0
clarity         0
depth         697
table           0
x               0
y               0
z               0
price           0
dtype: int64

In [19]:
# removed missing values
data = data.dropna()

In [23]:
# id is not neccesordy
data = data.drop(data.columns[data.columns.str.contains('^Unnamed', na=False)], axis=1)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26270 entries, 0 to 26966
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    26270 non-null  float64
 1   cut      26270 non-null  object
 2   color    26270 non-null  object
 3   clarity  26270 non-null  object
 4   depth    26270 non-null  float64
 5   table    26270 non-null  float64
 6   x        26270 non-null  float64
 7   y        26270 non-null  float64
 8   z        26270 non-null  float64
 9   price    26270 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 2.2+ MB

In [29]:
# check duplicated values
print(f"Duplicated before: {data.duplicated().sum()}")
data = data.drop_duplicates()
print(f"Duplicates after: {data.duplicated().sum()}")

Duplicated before: 0
Duplicates after: 0

In [30]:
data.shape

(26236, 10)

In [33]:
# segregae categorical and numerical data
cat_col = data.columns[data.dtypes == "object"]
num_col = data.columns[data.dtypes != "object"]

In [39]:
# numerical data
data[num_col].describe().T

,count,mean,std,min,25%,50%,75%,max
carat,26236.0,0.797620,0.476691,0.2,0.40,0.70,1.05,4.50
depth,26236.0,61.745285,1.412243,50.8,61.00,61.80,62.50,73.60
table,26236.0,57.455877,2.230866,49.0,56.00,57.00,59.00,79.00
x,26236.0,5.728646,1.126332,0.0,4.71,5.69,6.54,10.23
y,26236.0,5.732487,1.165283,0.0,4.72,5.70,6.54,58.90
z,26236.0,3.536339,0.698608,0.0,2.90,3.52,4.04,8.06
price,26236.0,3935.926818,4019.809223,326.0,945.00,2374.00,5356.00,18818.00

In [37]:
# categorical data
data[cat_col].describe()

          cut  color clarity
count   26236  26236   26236
unique      5      7       8
top     Ideal      G     SI1
freq    10535   5521    6402

In [41]:
for col in cat_col:
    print(data[col].value_counts())

cut
Ideal        10535
Premium       6694
Very Good     5875
Good          2376
Fair           756
Name: count, dtype: int64
color
G    5521
E    4792
F    4606
H    3984
D    3265
I    2670
J    1398
Name: count, dtype: int64
clarity
SI1     6402
VS2     5919
SI2     4436
VS1     3985
VVS2    2478
VVS1    1791
IF       871
I1       354
Name: count, dtype: int64